# Stuff
.idea
.phpintel
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
NOTES

# Vendors
/vendor
/node_modules

# Env
.env
/storage/app/videoDump.json
/public/sitemaps/*.xml
/public/storage

# Tests
tests/report/*
!tests/report/.gitkeep

# Server
/stats
