# Stuff
.idea
.phpintel
oracle.sqlite
oracle.sqlite-journal
/stats

# Vendors
/vendor
/node_modules
/bower_components

# Env
.env
Homestead.yaml
Homestead.json

# App
/storage/app/videoDump.json
/public/sitemaps/*.xml
/public/storage

# Tests
tests/report/*
!tests/report/.gitkeep
