<div id="preloader" class="row">
    <br/>
    <br/>
    <div class="col s1 push-s5">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="filter-apis" v-if="filter_apis == 'enabled'" class="hide">
    <div class="row">
        <div class="col s3 left">
            <a href="#" data-activates="api-sources-dropdown" class="dropdown-button btn choosen-source">
                Source: All
                <span class="caret"></span>
            </a>

            <ul id="api-sources-dropdown" class="dropdown-content">
                <li>
                    <a href="#" class="video-source" data-filter="*"> All </a>
                </li>
                <li>
                    <a href="#" class="video-source" data-filter=".youtube"> Youtube </a>
                </li>
                <li>
                    <a href="#" class="video-source" data-filter=".vimeo"> Vimeo </a>
                </li>
                <li>
                    <a href="#" class="video-source" data-filter=".dailymotion"> Dailymotion </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="videos" class="row">
    <video-card :video="video" v-for="video in videos"></video-card>
</div>
