.card {
    .card-image {
        // Extends .card-title

        .video-source {
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 10px;
            color: white;
            border-radius: 3px;
            opacity: 0.3;

            &:hover {
                opacity: 1;
            }
        }

        .video-source.Youtube {
            background-color: #cc181e;
        }

        .video-source.Dailymotion {
            background-color: #0066DC;
        }

        .video-source.Vimeo {
            background-color: #00adef;
        }
    }

    .card-content {
        h1 {
            margin: 0;
            font-size: 18px;

            a {
                font-size: 18px;
            }
        }
    }
}

////////////////
// Responsive //
////////////////

@media (max-width: 400px) {
    .card {
        .card-image {
            .video-source {
                padding: 5px;
                font-size: 5px
            }
        }

        .card-content {
            padding: 10px;

            h1 {
                font-size: 10px;

                a {
                    font-size: 10px;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .card {
        .card-image {
            .video-source {
                padding: 7px;
                font-size: 7px
            }
        }

        .card-content {
            padding: 15px;

            h1 {
                font-size: 14px;

                a {
                    font-size: 14px;
                }
            }
        }
    }
}
