.navbar {
    border-radius: 0;
    border-bottom: 1px solid #e0e0e1;
    background-color: #fff;
    // padding: 10px;

    .navbar-form {
        border: 0;
        padding: 0;
        margin: 0;

        // Make the search box have 100% witdh
        & > .form-group {
            width: 100%;
            & > .input-group {
                width: 100%;
                height: 53px;

                input[type="text"].form-control {
                    height: 53px;
                }

                .btn {
                    border: none;
                }
            }
        }
    }
}


.navbar-right {
    li {
        a {
            font-weight: normal;

            &:hover {
                border-radius: 0;
                // background-color: #e74c3c;
                // color: white;
            }
        }
    }

    li.join {
        a {
            background-color: #16a085;
            color: #006A55;

            &:hover {
                color: #ffffff;
            }
        }
    }
}
