#video-info {
    // padding: 15px 0;
    // background: #222222;

    .video-duration,
    .video-views {
        // Vertical align icons with the text
        i.fa {
            vertical-align: middle;
        }

        span {
            font-size: 1.5em;
            vertical-align: middle;
            margin-left: 6px;
        }
    }
}
