div.or-container {
    text-align: center;
    color: #808080;
    font-variant: small-caps;
    margin: 50px 0 10px 0;

    hr.or-hr {
        margin-bottom: -20px;
        height: 0;
        border: 0;
        border-top: 1px solid #e6e6e6;
    }

    div#or {
        display: inline-block;
        position: relative;
        padding: 10px;
        background-color: #fff;
    }
}

ul.default-list {
    list-style: initial;
    padding-left: 40px;

    li {
        list-style: initial;
        padding: 10px;
    }
}
