/**
 * Vendors
 */
@import 'vendor/materialize';
@import 'vendor/font-awesome';
@import 'vendor/video-js';

/**
 * Custom shit
 */
@import 'fonts';
@import 'helpers';

body {
    background-color: #fff;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    // letter-spacing: 1.2em;

    /**
     * Branding
     */
    .videouri {
        font-family: 'Sacramento';
        font-weight: 300;
    }
}

section#login,
section#register {
    .card-panel.padded-panel {
        padding: 40px 40px 20px 40px;
    }
}

/**
 * Social
 */
.facebook-bg {
    background-color: #3b5998;
    color: white;

    &:hover {
        background-color: #3b5998;
    }
}
.twitter-bg {
    background-color: #5ea9dd;
    color: white;

    &:hover {
        background-color: #5ea9dd;
    }
}

.facebook-color {
    color: #3b5998;
}
.twitter-color {
    color: #5ea9dd;
}

ul#social-and-stats {
    li {
        display: inline-block;
    }
}



@import 'module/header';
// @import 'module/home';
@import 'module/sidebar';
@import 'module/video-cards';
@import 'module/video-page';

/**
 * Custom toast styling
 */
.toast {
    &.error {
        background-color: #f44336;
    }

    &.success {
        background-color: #4caf50;
    }

    &.warning {
        background-color: #ffeb3b;
        color: #000;
    }
}

/////////////
// Filters //
/////////////
#filter-apis {
    .dropdown-button {
        text-transform: initial;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}

#responsive-img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

////////////
// Footer //
////////////
footer.page-footer {
    // border-top: 1px solid #efefef;
    // background: #f7f8fa;
    background-color: transparent;

    .footer-copyright {
        background: transparent;
        color: #444;

        // a {
        // }
    }
}

header,
main {
    padding-left: 240px;
}

@media only screen and (max-width: 992px) {
    header,
    main {
        padding-left: 0;
    }
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
    width: calc(100% - 10rem);
}
