/**
 * Vendors
 */
@import 'fonts.less';
@import 'vendor/materialize.less';
@import 'vendor/font-awesome.less';
@import 'vendor/video-js.less';

/**
 * Custom shit
 */
@import 'helpers.less';

body {
    background-color: #fff;
    text-rendering: optimizeLegibility;

    /**
     * Branding
     */
    .videouri {
        font-family: 'Sacramento';
        font-weight: 300;
    }
}

section#login,
section#register {
    .card-panel.padded-panel {
        padding: 40px 40px 20px 40px;
    }
}

/**
 * Social
 */
.facebook-bg {
    background-color: #3b5998;
    color: white;
}
.twitter-bg {
    background-color: #5ea9dd;
    color: white;
}

.facebook-color {
    color: #3b5998;
}
.twitter-color {
    color: #5ea9dd;
}

ul#social-and-stats {
    li {
        display: inline-block;
    }
}


div.or-container {
    text-align: center;
    margin-top: 20px;
    color: #808080;
    font-variant: small-caps;
    margin: 50px 0 10px 0;

    hr.or-hr {
        margin-bottom: -20px;
        height: 0;
        border: 0;
        border-top: 1px solid #e6e6e6;
    }

    div#or {
        display: inline-block;
        position: relative;
        padding: 10px;
        background-color: #fff;
    }
}

@import 'module/header';
// @import 'module/home';
@import 'module/sidebar';
@import 'module/video-cards';
@import 'module/video-page';

.footer {
    position: absolute;
    bottom: 0;
    z-index: 50;
    width: 100%;
    height: 60px;
    margin-top: 60px;
    background-color: #3c708d;
    a:hover {
        font-weight: bold;
        color: #bec6cd;
        text-decoration: none;
        text-shadow: 5px 1px 1px #296281;
    }
    & > .container {
        margin-top: 20px;
        // margin-bottom: 20px;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}

#responsive-img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

header,
main,
footer {
    padding-left: 240px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
    width: calc(100% - 10rem);
}
