/**
 * Vendors
 */
@import 'vendor/bootstrap.less';
@import 'vendor/flat-ui.less';
@import 'vendor/font-awesome.less';
@import 'vendor/video-js.less';

/**
 * Custom shit
 */
@import 'fonts.less';
@import 'helpers.less';
@import 'variables.less';
// @import 'bootstrap-overwrites';

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fff;
    text-rendering: optimizeLegibility;
    padding-top: 53px;

    #content a {
        font-weight: 300;
        color: #494949;
    }

    a:hover {
        border-radius: 5px;
    }

    &#videoPage {
        color: white;
        margin-top: 53px;
    }
}

@import 'module/branding';
@import 'module/navbar';
// @import 'module/home';
@import 'module/sidebar';
@import 'module/videos';

  /* Vide Page */
#video_data .info strong{ font-weight:bold; }
#video_data .info .tags{ padding: 0; list-style: none; display: inline-block;}
#video_data .info .tags li{ float:left; display: inline; }
#video_data .info .tags li a{ color: #925C3E; }
#video_data .info .tags li a:hover{ text-decoration:underline; cursor: pointer; }
#video_data .info .description{ text-align: justify; padding: 0; }

#video-info {
    padding: 15px 0;
    background: #222222;

    .video-duration,
    .video-views {
        // Vertical align icons with the text
        i.fa {
            vertical-align: middle;
        }

        span {
            font-size: 1.5em;
            vertical-align: middle;
            margin-left: 6px;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    z-index: 50;

    width: 100%;
    height: 60px;

    margin-top: 60px;
    background-color: #3c708d;

    a:hover {
        font-weight: bold;
        color: #bec6cd;
        text-decoration: none;
        text-shadow: 5px 1px 1px #296281;
    }

    & > .container {
        margin-top: 20px;
        // margin-bottom: 20px;
    }
}
